<!-- views/updateUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/error.ejs") %>
  <form action="/update/<%= user.id %>" method="POST">
    <input type="text" name="firstname" value="<%= user.firstname %>" required>
    <input type="text" name="lastname" value="<%= user.lastname %>" required>
    <input type="text" name="email" value="<%= user.email %>" required>
    <input type="text" name="age" value="<%= user.age %>" required>
    <input type="text" name="bio" value="<%= user.bio %>" required>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
